<table class="table table-condensed">
  <thead>
    <tr>
      <th>Category name</th>
      <th>Created at</th>
      <th>Deleted at</th>
    </tr>
  </thead>
  <tbody>
    <!-- UserViews here -->
  </tbody>
</table>
