<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Form Name</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">New category</label>  
  <div class="col-md-4">
  <input id="category-name" name="textinput" type="text" placeholder="category name" class="form-control input-md" required="">  
  </div>
</div>

</fieldset>
</form>

