<ul class="nav nav-pills pull-right">
<% queries.forEach(function(query) { %>
<li><a class="btn btn-xs btn-success" href="<%=query.url%>" title="<%=query.description%>"><%=query.name%></a></li>
<% }); %>
</ul>
<h3>Queries: </h3>