<table class="table table-condensed">
  <thead>
    <tr>
      <th>Email</th>
      <th>Phone_number</th>
      <th>Lastname</th>
      <th>Firstname</th>
      <th>Date of birth</th>
      <th>User type</th>
      <th>Default address id</th>
      <th>Created at</th>
    </tr>
  </thead>
  <tbody>
    <!-- CategoryViews here -->
  </tbody>
</table>